<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 mt-3">
            <mat-card>
                <mat-spinner *ngIf="isLoading$ | async" class="mx-auto"></mat-spinner>
                <form
                    [formGroup]="form"
                    (ngSubmit)="onSavePost()"
                    *ngIf="!(isLoading$ | async)"
                    enctype="multipart/form-data">
                    <mat-form-field>
                        <input
                            type="text"
                            matInput
                            formControlName="title"
                            placeholder="Post title">
                        <mat-error *ngIf="form.get('title').invalid">Please enter a valid title</mat-error>
                    </mat-form-field>
                    <div class="my-3">
                        <button mat-stroked-button type="button" (click)="image.click()">Choose Image</button>
                        <input type="file" #image (change)="onSelectFile($event)">
                    </div>
                    <div class="image-preview mb-3" *ngIf="post && post.imagePath && !imagePreview">
                        <img [src]="post.imagePath" [alt]="form.value.title" class="img-fluid">
                    </div>
                    <div class="image-preview mb-3" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                        <img [src]="imagePreview" [alt]="form.value.title" class="img-fluid">
                    </div>
                    <mat-form-field>
                        <textarea
                            class="mt-3"
                            matInput
                            rows="8"
                            formControlName="content"
                            placeholder="Your thoughts"></textarea>
                        <mat-error *ngIf="form.get('content').invalid">Please enter valid content</mat-error>
                    </mat-form-field>
                    <button
                        class="mt-2"
                        mat-raised-button
                        color="accent"
                        type="submit">
                        Save
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>