<div class="container">
    <div class="row mt-4">
        <h2 class="mx-auto">Reset your Password</h2>
        <div class="col-12">
            <mat-card>
                <mat-spinner *ngIf="isLoading" class="mx-auto"></mat-spinner>
                <form
                    *ngIf="!isLoading"
                    [formGroup]='resetForm'
                    (ngSubmit)="onReset(resetForm)">
                    <mat-form-field class="my-3">
                        <input
                            type="password"
                            required
                            matInput
                            placeholder="Password (min 8 characters with number, special character & capital letter)"
                            formControlName="password"
                            minlength="8">
                        <mat-error *ngIf="resetForm.get('password').invalid">Please enter valid password</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input
                            type="password"
                            required
                            matInput
                            placeholder="Confirm Password"
                            formControlName="confirmPassword"
                            minlength="7">
                        <mat-error *ngIf="resetForm.get('confirmPassword') !== resetForm.get('password')">Passwords must match</mat-error>
                    </mat-form-field>
                    <button
                        class="mt-2"
                        mat-raised-button
                        color="accent"
                        type="submit"
                        *ngIf="!isLoading"
                        [disabled]="resetForm.invalid">
                        Send
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>